$color-light: #fff;
$color-dark: #000000;
$color-success: #2d9cdb;
$color-light-gray:#F2F2F2;
$color-dark-gray:#E0E0E0;

$font-text: 'Raleway', sans-serif;

$font-regular: 400;
$font-medium: 500;
$font-semiBold: 600;
$font-bold: 700;

$base-size: 12px;