@import '../../styles/settings.scss';

.searchbar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $color-light-gray;
}

.searchbar-container {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: $color-light;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.searchbar-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: $font-bold;
  text-align: center;
}

.searchbar-input {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  background-color: $color-light-gray;
}

.searchbar-button {
  width: 100%;
  padding: 15px;
  background-color: $color-success;
  color: $color-light;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
}

.searchbar-button:hover {
  background-color: darken($color-success, 10%);
}

.spacing-container {
  margin-top: 20px;
}

.spacing-container.with-text {
  margin-bottom: 20px;
}

.searchbar-subtitle {
  font-size: 15px;
  font-weight: $font-medium;
  margin-bottom: 0;
}

.current-search-info {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    color: $color-dark;
  }
  